<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.CommentMapper">
    <resultMap id="BaseResp" type="com.qf.vo.Comment">
        <id property="id" column="id"></id>
        <result property="uid" column="uid"></result>
        <result property="cid" column="cid"></result>
        <result property="score" column="score"></result>
        <result property="des" column="des"></result>
    </resultMap>

    <select id="findByCid" resultType="com.qf.resp.CommentResp">
        SELECT com.des,com.score,com.date,us.username,us.head FROM `comment` com,course cou,`user` us WHERE com.uid=us.id and com.cid=cou.id and com.cid=#{cid}
    </select>

    <select id="findByScoreAndCid" resultType="com.qf.resp.CommentResp">
        SELECT com.des,com.score,com.date,us.username,us.head FROM `comment` com,course cou,`user` us WHERE com.uid=us.id and com.cid=cou.id and com.cid=#{cid} and com.score>#{score}
    </select>

    <select id="findByScoreAndCidOne" resultType="com.qf.resp.CommentResp">
        SELECT com.des,com.score,com.date,us.username,us.head FROM `comment` com,course cou,`user` us WHERE com.uid=us.id and com.cid=cou.id and com.cid=#{cid} and com.score BETWEEN #{score} and 3.0
    </select>
    <select id="findByScoreAndCidTwo" resultType="com.qf.resp.CommentResp">
        SELECT com.des,com.score,com.date,us.username,us.head FROM `comment` com,course cou,`user` us WHERE com.uid=us.id and com.cid=cou.id and com.cid=#{cid} and com.score BETWEEN #{score} and 1.0
    </select>

    <insert id="AddComment">
        insert into comment (id,uid,cid,score,des,date) values (null,#{uid},#{cid},#{score},#{des},#{date})
    </insert>


</mapper>